{% extends "journal/layout.html" %}

{% block headblock %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let accountDeleteButton = document.getElementById("account_delete_button");
            let confirmCheckbox = document.querySelector('input[type="checkbox"]');

            confirmCheckbox.addEventListener("change", function(event) {
                if (confirmCheckbox.checked) {
                    accountDeleteButton.disabled = false;
                } else {
                    accountDeleteButton.disabled = true;
                }
            });
        });
    </script>
{% endblock %}

{% block sidebar_links %}
    <BR>
    <li><a id="my_profile_link"
           href="{% url 'settings' %}">Back to settings</a></li>
    <BR>
{% endblock %}

{% block body %}

<div class="form_title">
    Delete account
</div>
<div id="account_delete_div">
    <p>
        Are you sure you want to delete the account?!<BR>
        <b>All data will be lost.  This cannot be undone.</b>
    </p>
    <p>
        Consider exporting your data before deleting.
    </p>
</div>

<form class="cinefile_form"
      method="post" action="{% url 'delete_account' %}" novalidate>
    {% csrf_token %}
    <div class="signup_login_form">
        <table>
            {% for field in form %}
                <tr>
                    <td class="signup_label">{{ field.label_tag }}</td>
                    <td class="signup_field">{{ field }}</td>
                </tr>
                {% if field.errors %}
                    <td></td>
                    <td class="help_text">
                        {{ field.errors }}
                    </td>
                {% endif %}
            {% endfor %}
        </table>
        <div class="form_submit">
            <button id="account_delete_button"
                    class="select_button delete_button"
                    disabled
                    type="submit"><BR>&emsp;Delete Account&emsp;<BR><BR></button>
        </div>
    </div>
</form>

{% endblock %}
