{% extends "journal/mobile_layout.html" %}

{% block body %}

{% if error_message %}
<p>{{ error }}</p>
{% endif %}

<div class="form_title">
    Create new Cinefile
</div>
<form class="cinefile_form"
      method="post" action="{% url 'mobile_signup' %}">
    {% csrf_token %}
    <div class="mobile_form">
        <table>
            {% for field in form %}
                {% if field.field.widget.input_type == "checkbox" %}
                    <tr>
                        <td class="form_checkbox" colspan="2">{{ field.label_tag }} {{ field }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="signup_label">{{ field.label_tag }}</td>
                        <td class="signup_field">{{ field }}</td>
                    </tr>
                {% endif %}
                {% if field.help_text %}
                    <tr>
                        <td></td>
                        <td class="help_text">
                            ({{ field.help_text }})
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <div class="mobile_form_submit">
            <button class="mobile_select_button" type="submit">Submit</button>
        </div>
    </div>
</form>

{% endblock %}