{% extends "journal/mobile_layout.html" %}

{% block headblock %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let cancelButton = document.querySelector(".cancel_button");

        cancelButton.onclick = function() {
            window.location.replace("{% url 'mobile_settings' %}");
        }
    });
</script>
{% endblock %}


{% block body %}

{% if error_message %}
<p>{{ error }}</p>
{% endif %}

<div class="form_title">
    Change password
</div>
<form class="cinefile_form"
      method="post" action="{% url 'mobile_change_password' %}">
    {% csrf_token %}
    <div class="mobile_form">
        <table>
            {% for field in form %}
            <tr>
                <td class="signup_label">{{ field.label_tag }}</td>
                <td class="signup_field">{{ field }}</td>
            </tr>
            {% if field.help_text %}
            <tr>
                <td></td>
                <td class="help_text">
                    ({{ field.help_text }})
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <div class="mobile_form_submit">
            <button class="mobile_select_button"
                    type="submit">Submit</button>
            &emsp;&emsp;&emsp;
            <button class="mobile_select_button cancel_button"
                    type="button">Cancel</button>
        </div>
    </div>
</form>

{% endblock %}