{% extends "journal/layout.html" %}

{% block sidebar_links %}
    <li><a id="my_profile_link"
           href="{% url 'profile' %}">Back</a></li>
{% endblock %}

{% block body %}

<div class="form_title">
    Modify user settings
</div>
<form class="cinefile_form"
      method="post" action="{% url 'settings' %}" novalidate>
    {% csrf_token %}
    <div class="signup_login_form">
        <table>
            {% for field in form %}
                <tr>
                    <td class="signup_label">{{ field.label_tag }}</td>
                    <td class="signup_field">{{ field }}</td>
                </tr>
                {% if field.help_text %}
                    <tr>
                        <td></td>
                        <td class="help_text">
                            ({{ field.help_text }})
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <div class="form_submit">
            <button class="select_button" type="submit">Save Changes</button>
        </div>
    </div>
</form>

{% endblock %}
