{% extends "journal/layout.html" %}

{% block sidebar_links %}
    <BR>
    <li><a id="my_profile_link"
           href="{% url 'index' %}">Back to profile</a></li>
    <BR>
{% endblock %}

{% block body %}

<div class="form_title">
    Modify user settings
</div>
<form class="cinefile_form"
      method="post" action="{% url 'settings' %}" novalidate>
    {% csrf_token %}
    <div class="signup_login_form">
        <table>
            {% for field in form %}
                <tr>
                    <td class="signup_label">{{ field.label_tag }}</td>
                    <td class="signup_field">{{ field }}</td>
                </tr>
                {% if field.help_text %}
                    <tr>
                        <td></td>
                        <td class="help_text">
                            ({{ field.help_text }})
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    {% if field.errors %}
                        <td></td>
                        <td class="help_text">
                            {{ field.errors }}
                        </td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </table>
        <div class="form_submit">
            <button class="select_button" type="submit">Save Changes</button>
        </div>
    </div>
</form>
<div id="more_settings_actions">
    <ul>
        <li>
            <a href="{% url 'change_password' %}">Change Password</a>
        </li>
        <li>
            <a href="{% url 'delete_account' %}">Delete Account...</a>
        </li>
    </ul>
</div>

{% endblock %}
