{% extends "journal/layout.html" %}

{% block headblock %}
    {% load static %}
    <script type="text/javascript" src="{% static 'journal/javascript/index.js' %}"></script>
{% endblock %}

{% block modalblock %}
    <div class="overlay" id="modal_overlay">
        <div id="tmdb_search_modal" class="modal" title="">
            <div class="top_corner">
                <span class="close">&times;</span>
            </div>
            <div id="movie_title_form">
                <input id="tmdb_search_text" type="text"
                       class="tmdb_search_text_input"
                       placeholder="title"
                       data-page="1"
                       data-url="{% url 'tmdb' api_command='search' %}"
                       data-credits_url="{% url 'tmdb' api_command='credits' %}">
            </div>
            <div id="tmdb_search_results"></div>
            {% include "journal/tmdb_detail.html" %}
        </div>

        <div id="new_viewing_form_modal" class="modal" title="">
            <div class="top_corner">
                <span class="close">&times;</span>
            </div>
            {% include "journal/viewing_form.html" %}
        </div>

        <div id="about_modal" class="modal" title="">
            <div class="top_corner">
                <span class="close">&times;</span>
            </div>
            <div>
                <p><span class="cinefile">Cinefile</span> is a journal for keeping
                track of films you've seen.</p>
                <p><span class="cinefile">Cinefile</span> uses data
                from <a href="https://www.themoviedb.org/">The Movie Database</a>.</p>
                <BR>
                <p>Copyright 2024 by Mark Fruman &ensp;<span class="email">mark.fruman@yahoo.com</span></p>
            </div>
        </div>

    </div>
{% endblock %}

{% block sidebar_links %}
    {% if username == user.username %}
        <li><a id="add_movie_link">Add viewing</a></li><BR>
        <li><a id="export_data_link">Export data</a></li>
        <li><a id="import_data_link" href="{% url 'import_tool' %}" >Import data</a></li><BR>
    {% endif %}
{% endblock %}

{% block body %}
<div class="movie_list" id="profile_movie_list"
     data-profile_url="{% url 'profile' %}">
    {% for viewing in viewings %}
        {% if username == user.username or not viewing.private %}
            <div class="viewing_row">
                <div class="movie_details">
                    <div class="movie_title">
                        {{ viewing.film.title }} ({{ viewing.film.year }})
                        &emsp;&emsp;
                        <span data-viewing_id="{{ viewing.id }}" class="viewing_edit_button">&#x1F589;</span>
                    </div>
                    <div class="movie_info">
                        <div class="tmdb_link_div">
                            <img alt="tmdb_logo"
                                 data-tmdb_id="{{ viewing.film.tmdb }}"
                                 width="30px"
                                 src="{% static 'images/tmdb.svg' %}">
                        </div>
                        <div class="movie_people">
                            Director: {{ viewing.film.director }}<BR>
                            Starring: {{ viewing.film.starring }}
                        </div>
                    </div>
                </div>
                <div class="movie_location">
                    {% if user.is_authenticated %}
                        {{ viewing.date | date:"F j, Y" }}
                        {% if viewing.location %}
                            <br>{{ viewing.location }}
                        {% endif %}
                        {% if viewing.cinema %}
                            <br>{{ viewing.cinema }}
                        {% endif %}
                        {% if viewing.tv_channel %}
                            <br>{{ viewing.tv_channel }}
                        {% endif %}
                        {% if viewing.streaming_platform %}
                            <br>{{ viewing.streaming_platform }}
                        {% endif %}
                    {% else %}
                        {{ viewing.date | date:"F, Y" }}
                    {% endif %}
                    {% load static %}
                </div>
                <div class="movie_comment">
                    {{ viewing.comments | linebreaks }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}