<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinefile!!</title>
    {% load static %}
    <link rel="stylesheet"
          href="{% static 'journal/css/layout.css' %}">
    <link rel="icon"
          href="{% static 'images/favicon.ico' %}"
          type="image/x-icon">
    <script id="utils_script"
            type="text/javascript"
            src="{% static 'journal/javascript/utils.js' %}"></script>

    {% block headblock %}
    {% endblock %}

</head>
<body>

    <div class="overlay" id="modal_overlay">
        {% block modalblock %}
        {% endblock %}

        <div id="about_modal" class="modal" title="">
            <div class="top_corner">
                <span class="close close_corner">&times;</span>
            </div>
            <div>
                <p>
                    <span class="cinefile">Cinefile</span> is the original internet cinema journal
                    for keeping track of the films you see. <span class="cinefile">Cinefile</span>
                    uses data from <a href="https://www.themoviedb.org/">The Movie Database</a>.
                </p>
                <BR>
                <p>Copyright 2024 by Mark Fruman &ensp;<span class="email">mark.fruman@yahoo.com</span></p>
            </div>
        </div>

    </div>

    <div class="wrapper">
        <div class="sidebar">
            <div class="app_title">
                <h5>
                    {% if displayname %}
                        {{ displayname }}'s<BR>Cinefile
                    {% elif username == "__no_such_user__" %}
                        Cinefile!!
                    {% elif username %}
                        {{ username }}'s<BR>Cinefile
                    {% else %}
                        Cinefile!!
                    {% endif %}
                    <span class="beta">beta</span>
                </h5>
            </div>

            <ul class="sidebar_list">
                <li><label for="view_another_profile_input"
                           id="view_another_label">view a cinefile<BR></label>
                    <input id="view_another_profile_input"
                           type="text"
                           placeholder=" username" /></li>
                {% block sidebar_links %}
                {% endblock %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_login' %}">Log out</a></li>
                {% else %}
                    <BR>
                    <li><a href="{% url 'user_login'%}">Log in</a></li>
                    <li><a href="{% url 'signup' %}">New Cinefile</a></li>
                {% endif %}
                <BR>
                <li><a id="about_link">About</a></li>
            </ul>
        </div>
        <main class="main_block">
            {% block body %}
            {% endblock %}
        </main>
    </div>

</body>
</html>