<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinefile!!</title>
    {% load static %}
    <link rel="stylesheet"
          href="{% static 'journal/css/layout.css' %}">
    <script id="utils_script"
            type="text/javascript"
            src="{% static 'journal/javascript/utils.js' %}"></script>

    {% block headblock %}
    {% endblock %}

</head>
<body>

    <div class="overlay" id="modal_overlay">
        {% block modalblock %}
        {% endblock %}

        <div id="about_modal" class="modal" title="">
            <div class="top_corner">
                <span class="close">&times;</span>
            </div>
            <div>
                <p><span class="cinefile">Cinefile</span> is a journal for keeping
                    track of films you've seen.</p>
                <p><span class="cinefile">Cinefile</span> uses data
                    from <a href="https://www.themoviedb.org/">The Movie Database</a>.</p>
                <BR>
                <p>Copyright 2024 by Mark Fruman &ensp;<span class="email">mark.fruman@yahoo.com</span></p>
            </div>
        </div>

    </div>

    <div class="wrapper">
        <div class="sidebar">
            <div class="app_title">
                <h4>
                    {% if username %}
                        {{ username }}'s Cinefile
                    {% else %}
                        Cinefile!!
                    {% endif %}
                    <span class="beta">beta</span>
                </h4>
            </div>

            <ul class="sidebar_list">
                <li><label id="view_another_label">view another cinefile<BR></label>
                    <input id="view_another_profile_input"
                           type="text"
                           placeholder=" username" /></li><BR>
                {% block sidebar_links %}
                {% endblock %}
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_login' %}">Log out <span class="username_span">{{ user.username }}</span></a></li>
                {% else %}
                    <li><a href="{% url 'user_login'%}">Log in</a></li>
                    <li><a href="{% url 'signup' %}">New Cinefile</a></li>
                {% endif %}
                <BR>
                <li><a id="about_link">About</a></li>
            </ul>
        </div>
        <div class="main_block">
            {% block body %}
            {% endblock %}
        </div>
    </div>

</body>
</html>