<div id="tmdb_detail_modal" class="modal" title="">
    <div class="top_corner">
        {% load static %}
        <span class="tmdb_link"><img id="tmdb_link_button"
                                     alt="tmdb_logo"
                                     width="60px"
                                     src="{% static 'images/tmdb.svg' %}"></span>
        <span class="close">&times;</span>

    </div>
    <div id="tmdb_detail_modal_content" title="">
    </div>
    <div id="tmdb_detail_select_div">
        <button class="select_button"
                id="tmdb_detail_select_button">Select</button>
    </div>
</div>