/* CSS */
body {
    margin: 0;
}

.container {
    max-width: 100vw; /* adjust to your desired width */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    background-color: bisque;
    color: darkred;
    /* padding: 1em; */
    overflow: hidden;
    top: 0;
    position: relative;
    min-height: 8vh;
    width: 100%;
    z-index: 5;
}
nav #mobile_title_div {
    position: relative;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
nav #mobile_title {
    font-size: 6vw;
}
nav #nav_menu {
    display: none;
}
nav a.menu_item {
    background: sandybrown;
    font-family: Arial;
    font-size: 5vw;
    padding: 30px;
    display: block;
    color: darkred;
    text-decoration: none;
}
nav a.menu_item:hover {
    background: lightsteelblue;
    color: darkslategrey;
    cursor: pointer;
}
nav a.icon {
    display: block;
    background: inherit;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
#mobile_menu_symbol {
    height: 8vh;
}
#mobile_menu_symbol img {
    height: 100%;
}


.mobile_select_button {
    width: 90%;
    line-height: 1.5;
    font-size: 4.5vw;
    /* border: none; */
    border: 2px outset steelblue;
    cursor: pointer;
}
.mobile_select_button:hover {
    filter: brightness(0.7);
}


#mobile_main_wrapper {
    position: relative;
    max-width: 100vw;
}
.main_block_mobile {
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 84vh;
    position: fixed;
    top: 8vh;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: firebrick seashell;
    /* flex-grow: 1; */
    /* padding: 2em; */
    /* margin-top: 50px; */
}

footer {
    color: darkred;
    height: 8vh;
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 5;
}
footer div {
    position: relative;
    background-color: bisque;
    height: 100%;
    width: 100vw;
}


.mobile_viewing_row {
    display: grid;
    grid-template-columns: auto 30%;
    grid-template-rows: auto;
    grid-template-areas:
     'details_div date_div'
     'details_div location_div'
     'overview_head_div location_div'
     'overview_text_div overview_text_div'
     'comment_div comment_div';
    gap: 3px;
    padding: 10px 20px 20px 20px;
    border-style: solid;
    border-width: 0 0 2px 0;
}
.mobile_viewing_date {
    grid-area: date_div;
    text-align: right;
    font-size: 1.3vw;
}
.mobile_movie_title {
    font-size: 2vw;
    font-style: italic;
    padding: 8px;
    color: midnightblue;
}
.mobile_movie_details {
    grid-area: details_div;
    text-align: left;
}
.mobile_movie_people {
    font-size: 3vw;
    font-style: normal;
    color: darkslategrey;
    margin-bottom: 4px;
}
.mobile_overview_header {
    grid-area: overview_head_div;
    font-size: 3.5vw;
    display: flex;
    flex-direction: row;
}
.mobile_movie_comment {
    grid-area: comment_div;
    font-size: 2vw;
    color: darkgreen;
}
.mobile_overview_text {
    grid-area: overview_text_div;
    font-size: 2vw;
    color: darkblue;
}
.mobile_movie_location {
    font-size: 1.5vw;
    line-height: 1.1;
    grid-area: location_div;
    text-align: right;
}
.mobile_movie_info {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
}
.mobile_spoilers_div {
    margin-top: 9px;
    font-size: 2vw;
}
.mobile_spoilers_span {
    font-variant: small-caps;
    color: darkred;
    padding: 2px;
}
.mobile_spoilers_link {
    background-color: mistyrose;
    color: darkgreen;
    padding: 4px;
}
.mobile_spoilers_link:hover {
    cursor: pointer;
}

.mobile_modal {
    width: 100vw;
}
.mobile_modal_invisible {
    display: none;
}
.mobile_modal_visible {
    display: block;
    position: fixed;
    height: 100vh;
    overscroll-behavior: contain;
}
#mobile_about_modal {
    background: aliceblue;
    z-index: 10; /* Sit on top */
}
#mobile_about_content {
    margin: 40% 5%;
    font-size: 5.5vw;
    line-height: 1.8;
    text-align: center;
    width: 90%;
}
/* The Close Button */
.close_corner {
    position: absolute;
    top: 5px;
    right: 15px;
}
.close {
    color: #777;
    font-size: 12vw;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form_title {
    font-size: 8vw;
    font-weight: bold;
    color: firebrick;
    margin: 20px 30px 20px;
    padding: 1vh 1vw 3vh;
}
.form_table {
    border-spacing: 12px 5px;
}
#mobile_add_viewing_modal {
    background-color: bisque;
    z-index: 10;
}
#mobile_movie_detail_modal {
    background-color: bisque;
    z-index: 12;
}
#mobile_tmdb_detail_modal_content {
    font-size: 5vw;
    margin: 10%;
    height: 65vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: firebrick bisque;
}
.mobile_inner_div {
    width: 84%;
    margin: 20px 8%;
}
#mobile_view_another_modal {
    background-color: bisque;
    z-index: 10;
}
#mobile_follower_list_div {
    padding-top: 10px;
    color: firebrick;
    font-size: 6vw;
    line-height: 1.7;
}
.mobile_scrolling_list {
    list-style: none;
    font-size: 4vw;
    width: 90%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: firebrick lightsteelblue;
}
.mobile_scrolling_list li {
    padding-bottom: 0.7vh;
}
#mobile_cinefile_matches_list {
    font-size: 6vw;
}
#mobile_follower_list {
    height: 60vh;
}
#mobile_follower_list a {
    font-size: 6vw;
}
.mobile_scrolling_list a {
    text-decoration: none;
    color: firebrick;
}
#mobile_movie_title_form {
    text-align: center;
}
.mobile_search_text_input {
    font-size: 5vw;
    width: 90%;
    padding: 15px;
    border: none;
}
.mobile_tmdb_search_results {
    margin-left: 10%;
    display: none;
    font-size: 4vw;
    color: maroon;
}
.movie_details_title {
    color: firebrick;
    font-style: italic;
    font-size: 7vw;
}
.movie_details_overview {
    color: darkslategrey;
    padding-right: 15px;
}
#mobile_movie_detail_select_div {
    text-align: center;
}

.mobile_form {
    width: 95%;
    margin: 0 auto;
}
.mobile_form tr {
    height: 5vh;
}
.viewing_label {
    text-align: right;
}
.viewing_label label {
    font-size: 4.5vw;
}
.viewing_field input {
    padding: 4px 10px;
    font-size: 4.5vw;
}
.viewing_field select {
    padding: 4px 1px;
    font-size: 4.5vw;
}
.viewing_field option {
    font-size: 2vw;
}
label[for="id_spoilers"] {
    font-weight: bold;
    color: firebrick;
}
.mobile_form input[type="date"] {
    padding: 3px;
    border: none;
    font-size: 4.5vw;
    font-family: Arial;
}
.mobile_form input[type="checkbox"] {
    transform: scale(3);
    margin-left: 2vw;
}
.mobile_form .form_checkbox {
    text-align: left;
    font-size: 4vw;
}
.mobile_new_viewing_form_content textarea {
    padding: 3px;
    border: none;
    font-size: 3.8vw;
    font-family: Arial;
    margin-left: -16vw;
}
.mobile_form_submit {
    display: flex;
    flex-direction: column;
    padding-bottom: 2vh;
    margin-top: 3vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mobile_form_submit button {
    margin: 0.8vh auto;
    padding: 1.5vh 0;
}

.signup_field input {
    padding: 4px 10px;
    font-size: 4vw;
}
.signup_label label {
    font-size: 4vw;
}
.under_form_div {
    text-align: left;
    font-size: 7vw;
    margin: 5vh 5vw;
}
.under_form_div a {
    text-decoration: none;
    color: firebrick;
}
.under_form_div a:visited {
    text-decoration: none;
    color: firebrick;
}
#mobile_account_delete_div {
    margin: 0 40px 0;
    line-height: 1.5;
    font-size: 4vw;
    color: darkred;
}


/* Media Queries */
@media (min-width: 1000px) {
  .container {
      max-width: 1000px; /* adjust to your desired width */
  }
  #mobile_main_wrapper {
      width: 1000px;
  }
  footer {
      width: 1000px;
  }
  .mobile_modal {
      width: 1000px;
  }
}
@media (orientation: landscape) {
  footer {
    height: 8vw;
  }
  nav {
    min-height: 8vw;
  }
  nav #mobile_title_div {
    height: 8vw;
  }
  nav #mobile_title {
    font-size: 6vh;
  }
  #mobile_menu_symbol {
    height: 8vw;
  }
}